<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div id="app">
      <div class="login_form">
        <div class="login_title"><img class="login_header_image" src="/images/volavote_ccc_128.png"> {{title}}</div>
        <div class="login_input_field">
          <div class="sub">Name</div>
          <input id="volavote_input" class="login_input" type="text" size=8 v-model="loginName" placeholder="input username">
        </div>
        <div class="login_input_field">
          <div class="sub">Password</div>
          <input id="volavote_password" class="login_input" type="password" size=8 v-model="loginPassword" placeholder="input password">
        </div>
        <div class="login_button_area">
          <button class="login_button" @click="loginAs">Login</button>
        </div>
        <div v-if="errorMessage" class="login_error">
          <div class="error_message">{{errorMessage}}</div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const App = {
      data(){
        return{
          title: '<%= title %>',
          actionUrl: '<%= action %>',
          type: '<%= type %>',
          loginName:"",
          loginPassword:"",
          errorMessage:"",
        }
      },
      mounted() {

      },
      methods :{
        loginAs(){
          if(!this.loginName || !this.loginPassword){
            this.errorMessage = "Input Name and Password"
            return
          }
          fetch(this.actionUrl,{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({type:this.type,name:this.loginName,password:this.loginPassword})
          })
          .then(response=>response.json())
          .then(data=>{
            //OK
            if(data.login==="OK"){
              window.location.href= data.redirect
            }
            if(data.login==="NG"){
              this.errorMessage = data.error
            }
          })
          .catch(error=>{
            this.errorMessage = error
          })
        }
      }
    }
    Vue.createApp(App).mount('#app')
  </script>
</html>
