<div class="poll_header">
    <div class="header_title">
      <img class="control_header_image" src="/images/volavote_ccc_128.png"> volavote
    </div>
</div>
<div class="poll_name_field">
  <a class="poll_control_field" href="/poll/signout" title="Sign out"><%= user %></a>
</div>
