<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/poll.css' />
  </head>
  <body>
    <%- include('../partial/poll_header',{user:''}); %>

    <div id="poll" class="poll_body">
      <div class="poll_title"><%= message %></div>
      <a href="/" class="poll_title" >Go to Top page</a>
    </div>
  </body>
</html>
